<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Title</label>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>

        <div>
            <label for="content-body">Content</label>
            <textarea name="content-body" value="{{post.content}}"></textarea>
        </div>

        <div>
            <label for="city-location">City</label>
            <input name="post-city-location" type="text" value="{{post.city_location}}" />
        </div>

        <div>
            By you on {{format_date post.created_at}}
            |
            <a href="/blogs/{{post.id}}">{{comments.length}} comment(s)</a>
        </div>
        <div><button class="py-35 px-6 bg-blue-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-70">
            Save Post
        </button>
        <button class="py-35 px-6 bg-blue-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-70">
            Delete Post
        </button>
        </div>
    </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="py-35 px-6 bg-blue-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-70">
        Add Comment
    </button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-blog-post.js"></script>
<script src="/javascript/comment.js"></script>