<article>
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <label for="post-title">Title</label>
            <input name="post-title" type="text" value="{{post.title}}" />
        </div>

        <div>
            <label for="content-body">Content</label>
            <textarea name="content-body" value="{{post.content}}"></textarea>
        </div>

        <div>
            <label for="city-location">City</label>
            <input name="post-city-location" type="text" value="{{post.city_location}}" />
        </div>

        <div>
            By you on {{format_date post.created_at}}
            |
            <a href="/blogs/{{post.id}}">{{comments.length}} comment(s)</a>
        </div>
        <button type="submit">Save post</button>
        <button type="button" class="delete-post-btn">Delete post</button>
    </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-blog-post.js"></script>
<script src="/javascript/comment.js"></script>