<article class="post">
  <div class="title">
    <span>({{post.title}})</span>
  </div>
  <div class="meta">
    By {{post.user.username}} on
    {{post.created_at}}
    |
    <a href="/blog/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="button" class="submit-button">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}