<article class="post">
  <div class="title">
    {{post.title}}
  </div>
  <div>
    {{post.content}}
  </div>
  <div class="meta">
    By {{post.user.username}} on
    {{format_date post.created_at}}
    |
    <a href="/blog/{{id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Comment Here</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}