<article class="post">
  <div class="title">
    <span>({{post.title}})</span>
  </div>
  <div class="meta">
    By {{post.user.username}} on
    {{post.created_at}}
    |
    <a href="/blog/{{id}}">{{comments.length}} comment(s)</a>
  </div>
</article>

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button class="py-35 px-6 bg-blue-400 text-white font-semibold rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-70">
        Add Comment
    </button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}